# Типы данных

In [ ]:
# Integer
11

In [ ]:
# Float
2.14

In [ ]:
# String

"Hello, World!"

In [ ]:
# Boolean
True
False

In [ ]:
# Integer
type(12)

In [ ]:
# Float
type(2.14 )

In [ ]:
# String
type("Hello, World!")

In [ ]:
# Boolean
type(True)

# Integers

In [ ]:
type(-1)

In [ ]:
type(4)

In [ ]:
type(0)

# Floats

In [ ]:
type(1.0)

In [ ]:
type(0.5)

In [ ]:
type(0.56)

# Конвернтация одного типа данных в другой

In [ ]:
# Verify that this is an integer

type(2)

## Integer to float

In [ ]:
# Convert 2 to a float

float(2)

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

## String to integer or float

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert a string into an integer with error

int('1 or 2 people')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

## Numbers to string

In [ ]:
# Convert an integer to a string

str(1)

In [ ]:
# Convert a float to a string

str(1.2)

# Boolean

In [ ]:
# Value true

True

In [ ]:
# Value false

False

In [ ]:
# Type of True

type(True)

In [ ]:
# Type of False

type(False)

In [ ]:
# Convert True to int

int(True)

In [ ]:
# Convert 1 to boolean

bool(1)

In [ ]:
# Convert 0 to boolean

bool(0)

In [ ]:
# Convert True to float

float(True)

# Exercise

In [ ]:
# What is the data type of the result of: 6 / 2?
type(6 / 2)

In [ ]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)
type(6 // 2)

In [ ]:
# What is the type of the result of: "Hello, World!"
type('Hello, World!')

In [ ]:
# What is the type of the result of: "hello" == "world"
type('hello' == 'world')

In [ ]:
# Write the code to convert the following number representing employeeid "1001" to an integer
int('1001')

In [ ]:
# Write the code to convert this number representing financial value "1234.56" to a floating point number
float('1234.56')

In [20]:
# Write the code to convert this phone number 123-456-7890 to a string
str('123-456-7890')

'123-456-7890'